
<style>
  body {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 200px 1fr 200px;
    min-height: 100vh;
    margin: 0
  }
  header, footer {
    grid-column-end: span 3
  }
  main {
    grid-column-start: 2
  }
  nav {
    grid-row-start: 2
  }
  aside {
    grid-column-start: 3
  }
</style>

<header></header>
<main></main>
<nav></nav>
<aside></aside>
<footer></footer>
